body {
    background-image: url(fotos/nuvens1.jpg );
    background-size: cover;
    background-repeat: repeat;
    background-size: 1700px;
    font-family: "Indie Flower", cursive;
    font-weight: 700;
    font-style: normal;
    color: black;
}

.list{
    background-color: rgba(224, 227, 230, 0.705);
    border-radius: 5px;
    margin-top: 3%;
    letter-spacing: 4px;
    margin-left: 13%;
    margin-right: 27%;
    padding: 1% 4%;
}

ul {
    margin-bottom: 5%;
    padding-left: 5%;
}

li {
    margin-bottom: 2%;
}

h1{
    font-family: 'Luckiest Guy', sans-serif;
    color: #E51B23;
    align-items: center;
    -webkit-text-stroke: 1px #FFD700 ;
    font-size: 300%;
}
