body {
    background-image: url(fotos/nuvens1.jpg );
    background-size: cover;
    background-repeat: repeat;
    background-size: 1700px;
    font-family: "Indie Flower", cursive;
    font-weight: 700;
    font-style: normal;
    color: black;
}

.formu{
    background-color: rgba(224, 227, 230, 0.705);
    border-radius: 5px;
    margin-top: 3%;
    letter-spacing: 4px;
    margin-left: 13%;
    margin-right: 27%;
    padding: 1% 4%;
}

::placeholder{
    color: gray;
}

.nome{
    margin-top: 5%;
}

.senha, .email{
    display: inline-block;
    margin-top: 2%;
    margin-right: 5%;
}

.tel, .age, .born{
    display: inline-block;
    margin-top: 2%;
    margin-right: 5%;
}

.inputage{
    width: 40%;
}

.city, .aviso, .divu, .escolha, .know, .why, .agree{
    margin-top: 2%;
    margin-right: 5%;
}

#submit{
    margin-top: 4%;
    background-color: #FFD700;
    color: #E51B23;
    padding: 10px 15px;
    border: #003A70, 3px solid;
    border-radius: 5px;
    transition: 0.3s ease;
    font-family: 'Luckiest Guy', sans-serif;
    letter-spacing: 1px;
    margin-left: 5%;
}

#submit:hover {
    transform: translateY(-4px);
    
}

h1{
    font-family: 'Luckiest Guy', sans-serif;
    color: #E51B23;
    margin-left: 17%;
    -webkit-text-stroke: 1px #FFD700 ;
    font-size: 300%;
}

h3{
    letter-spacing: 4px;
    margin-left: 4%;
}

