
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}


.grid-container {
    display: grid;
 
    
    /* Define a estrutura das linhas: 20% para o cabeçalho, 60% para o conteúdo e 20% para o rodapé */
    grid-template-rows: 20% 70% 10%;
    height: 100vh; 
}


.header {
   
    background-color: rgb(165, 196, 27);
    color: white;
    text-align: center;
    padding: 20px;

}



.main-content {

    grid-row: 2 / 3;    /* O conteúdo principal ocupa a segunda linha */
    padding: 10px;
    background-color: #ffffff;
}

.article {
    height: 100%;

}

.footer {

    grid-row: 3 / 4;    /* O rodapé ocupa a terceira linha */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilizando os iframes */
iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove a borda padrão do iframe */
}

/* Estilos para demonstração (você pode remover) */
.header h1, .navbar h2, .article h2, .footer p {
    margin: 0;
}
