
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}


.grid-container {
    display: grid;
 
    
    grid-template-columns: 1fr;
    grid-template-rows: 15% 78% 7%;
    height: 100vh; 
}


.header {
   
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    border-bottom: solid 2px black;

}



.main-content {

    grid-row: 2 / 3;    /* O conteúdo principal ocupa a segunda linha */
    padding: 10px;
    background-color: #ffffff;
}

.article {
    height: 100%;

}

.footer {

    grid-row: 3 / 4;    /* O rodapé ocupa a terceira linha */
    background-color: rgb(255, 245, 102);
    color: rgb(255, 245, 102);
    text-align: center;
    padding: 10px;
    border-top: solid 2px black;
}

/* Estilizando os iframes */
iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove a borda padrão do iframe */
}





.botoes{
 display: flex;
 align-items: center;
 justify-content: baseline;
 gap: 5vw; 
 margin-left: 4vw;



}

 .nav{
    text-decoration: none;
    color: brown;
    background-color: rgb(237, 255, 71);
    border-radius: 5px;
    padding: 0.8vw;
  font-family: "Indie Flower", cursive;
  border: darkblue, 2px solid;
  display: block;
 width: 7vw;


}


.CasinhaArticle{
display: flex;
width: 5vw;
height: auto;       
margin-left: 2vw;
align-items: center;







}